/* adresses */
div.addresses {	padding: 40px 0; }
div.addresses h3 { margin: 0 }
div.addresses p.checkbox input {
	margin-top: 0!important;
	margin-top: -3px
}
div.addresses ul.item { clear: both }
ul.address {
	/*background-color: white;
	float: left; position: relative;*/
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 20px 0 10px 40px;
	padding-bottom: 10px;
	width: 268px;
	border: 1px solid #ccc;
	font-size: 15px;
	height: 260px !important;
	background: url("../img/oranges/fons_paper_gris.png") repeat scroll left top #DDDDDD;
}
ul.address.full_width { width: 536px }
ul.address li {
	padding-left: 14px;
	margin-top: 6px;
	line-height: 22px;
}
li.address_title {
	margin-top: 0!important;
	background-color: #ccc;
	font-weight: bold;
	height: 27px;
	font-size: 18px;
	padding: 5px 0;
}
ul.item li.address_title { /*background-image: url('../img/address_alias_left.gif') */}
ul.alternate_item li.address_title { /*background-image: url('../img/address_alias_right.gif') */}
ul.full_width li.address_title { /*background-image: url('../img/address_alias_full_width.gif') */}
/*li.address_name,
li.address_firstname,
li.address_lastname { color: #dd2a81 }*/
li.address_name,
li.address_firstname,
li.address_lastname,
 li.address_company { font-weight: bold }

/*span.address_name,
span.address_firstname,
span.address_lastname { color: #dd2a81 }*/
span.address_name,
span.address_firstname,
span.address_lastname,
span.address_company { font-weight: bold }

/*li.address_update, li.address_delete {
	background: transparent url('../img/bullet_myaccount.gif') no-repeat 0 0.5em!important;
	background: transparent url('../img/bullet_myaccount.gif') no-repeat 0 0.4em;
	margin-left: 1.4em
}
.address_add a.button_large {
	background-color: #978100;
    color: #EAD200;
    text-decoration: none;
	padding: 5px 25px;
	font-size: 15px;
	cursor:pointer;
}
.address_add a.button_large:hover {
    background-color: #CAAD00;
    color: #fff;
	cursor:pointer;
}*/
p.address_add { padding: 10px 0; width: 65%; }

li.address_update a,
li.address_delete a {
	border: medium none;
    color: #444444;
    cursor: pointer;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 20px 0 0;
    text-decoration: none;
	background: #f0f0f0;
	padding: 5px 15px;
}


li.address_update a:hover, li.address_delete a:hover { color: #978100; }

/* Mis direcciones */
#addresses #footer { margin-top: 200px; }
div.addresses p { font-size: 15px; line-height: 20px; }

#addresses .footer_links { float: left; margin: 45px 0; }
#addresses .footer_links img { padding: 0 5px; }
#addresses .footer_links a { text-decoration: none; color: #978100; font-size: 15px; }
#addresses .footer_links a:hover { color: #444; }
