/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* SASS Document */
/* !TOC LAYOUT */
/*-------------------------------------------
	1 - BODY
		1.1 - Home
	2 - HEADER
		2.1 - Menú Principal
		2.2 - User
		2.3 - Carret
		2.4 - Search
		2.5 - Languages
	3 - CONTENTAREA
		3.1 - breadcrumbs
		3.2 - Catalogue
	4 - FOOTER
	5 - RIGHT
		5.1 - Cart
---------------------------------------------- */
/* !VARIABLES */
/* !MIXINS */
/* line 29, ../compass/sass/layout.scss */
.clearfix, nav#tmcategories, .headerTop, .headerTop #header_user, #page .rte, #category #columns, #category .product_sort, #product_list, #footer #footer_links, #footer .extraLinks {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
/* line 31, ../compass/sass/layout.scss */
.clearfix:before, nav#tmcategories:before, .headerTop:before, .headerTop #header_user:before, #page .rte:before, #category #columns:before, #category .product_sort:before, #product_list:before, #footer #footer_links:before, #footer .extraLinks:before, .clearfix:after, nav#tmcategories:after, .headerTop:after, .headerTop #header_user:after, #page .rte:after, #category #columns:after, #category .product_sort:after, #product_list:after, #footer #footer_links:after, #footer .extraLinks:after {
  content: "";
  display: table;
}
/* line 35, ../compass/sass/layout.scss */
.clearfix:after, nav#tmcategories:after, .headerTop:after, .headerTop #header_user:after, #page .rte:after, #category #columns:after, #category .product_sort:after, #product_list:after, #footer #footer_links:after, #footer .extraLinks:after {
  clear: both;
}

/* ------------------------------------------ */
/* !1 - BODY */
/* !1.1 - Home */
/* Center vertically */
/* line 48, ../compass/sass/layout.scss */
html {
  height: 100%;
}

/* line 49, ../compass/sass/layout.scss */
body#index {
  height: 100%;
}
/* line 51, ../compass/sass/layout.scss */
body#index #header {
  height: auto;
  width: auto;
  position: static;
}
/* line 55, ../compass/sass/layout.scss */
body#index #page {
  position: relative;
  height: 100%;
}
/* line 59, ../compass/sass/layout.scss */
body#index #tmcategories {
  height: 34px;
  margin: -34px 0 0 0;
  position: absolute;
  top: 50%;
  left: 0px;
}
/* line 65, ../compass/sass/layout.scss */
body#index #footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* ------------------------------------------ */
/* !2 - HEADER */
/* line 73, ../compass/sass/layout.scss */
#header {
  height: 250px;
  width: 100%;
  position: relative;
}
/* line 76, ../compass/sass/layout.scss */
#header #header_logo {
  display: block;
  width: 175px;
  height: 182px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -87.5px;
}
/* line 83, ../compass/sass/layout.scss */
#header #header_right {
  padding-top: 10px;
}

/* !2.1 - Menú Principal */
/* line 88, ../compass/sass/layout.scss */
nav#tmcategories {
  text-align: center;
  clear: both;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}
/* line 95, ../compass/sass/layout.scss */
nav#tmcategories ul#cat {
  width: 68.91667%;
  padding: 6px 0 9px 0;
  margin: 0 auto;
  text-align: center;
}
/* line 101, ../compass/sass/layout.scss */
nav#tmcategories li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 3%;
}
/* line 104, ../compass/sass/layout.scss */
nav#tmcategories li:first-child {
  margin-left: 0px;
}

/* !2.2 - User */
/* line 110, ../compass/sass/layout.scss */
.headerTop {
  width: 68.91667%;
  margin: 0px auto;
}
/* line 114, ../compass/sass/layout.scss */
.headerTop #header_user {
  float: right;
}
/* line 117, ../compass/sass/layout.scss */
.headerTop #header_user li {
  float: left;
  margin-left: 5px;
  padding-left: 5px;
}
/* line 121, ../compass/sass/layout.scss */
.headerTop #header_user li:first-child {
  margin-left: 0;
  padding-left: 0;
}

/* !2.3 - Carret */
/* line 128, ../compass/sass/layout.scss */
#shopping_cart {
  float: right;
  clear: both;
  margin-top: 5px;
  padding: 3px 0px 5px 25px;
}

/* !2.4 - Search */
/* line 135, ../compass/sass/layout.scss */
#search_block_top {
  width: 68.91667%;
  margin: 10px auto 0 auto;
}
/* line 138, ../compass/sass/layout.scss */
#search_block_top form {
  float: right;
  padding: 2px 1px 2px 3px;
}
/* line 142, ../compass/sass/layout.scss */
#search_block_top input {
  width: 160px;
}
/* line 145, ../compass/sass/layout.scss */
#search_block_top .button {
  width: 16px;
  height: 16px;
  display: block;
  float: right;
}

/* !2.5 - Languages */
/* line 153, ../compass/sass/layout.scss */
#tmlanguages {
  width: 68.91667%;
  margin: 0 auto;
}
/* line 156, ../compass/sass/layout.scss */
#tmlanguages #first-languages {
  float: left;
}
/* line 158, ../compass/sass/layout.scss */
#tmlanguages #first-languages li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* ------------------------------------------ */
/* !3 - CONTENTAREA */
/* line 166, ../compass/sass/layout.scss */
#columns {
  width: 64%;
  margin: 0 auto 75px auto;
}

/* line 171, ../compass/sass/layout.scss */
#page {
  width: 100%;
}
/* line 173, ../compass/sass/layout.scss */
#page h1 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 179, ../compass/sass/layout.scss */
#page .rte ul, #page .rte ol {
  margin-left: 2em;
  padding-left: 2em;
  margin-bottom: .5em;
}
/* line 184, ../compass/sass/layout.scss */
#page .rte li {
  margin-bottom: .25em;
}
/* line 187, ../compass/sass/layout.scss */
#page .rte p {
  margin-bottom: .5em;
}
/* line 190, ../compass/sass/layout.scss */
#page .rte p.bigImage img {
  width: 100%;
  height: auto;
  max-width: 899px;
}
/* line 198, ../compass/sass/layout.scss */
#page .rte .columnaEsq, #page .rte .columnaDreta {
  width: 48.30729%;
  margin-right: 3.25521%;
  float: left;
}
/* line 203, ../compass/sass/layout.scss */
#page .rte .columnaDreta {
  margin-right: 0;
}
/* line 208, ../compass/sass/layout.scss */
#page .intro {
  width: 80.65296%;
  margin: 0 auto;
}

/* !3.1 - breadcrumbs */
/* line 214, ../compass/sass/layout.scss */
.breadcrumb {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
/* line 217, ../compass/sass/layout.scss */
.breadcrumb p {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9999;
}

/* !3.2 - Catalogue */
/* line 225, ../compass/sass/layout.scss */
#category #columns {
  width: 72.25%;
}
/* line 231, ../compass/sass/layout.scss */
#category .catIntro {
  padding-top: 340px;
  margin-bottom: 20px;
}
/* line 236, ../compass/sass/layout.scss */
#category .productsSortForm label {
  display: block;
}
/* line 240, ../compass/sass/layout.scss */
#category .cat_desc {
  text-align: center;
}
/* line 243, ../compass/sass/layout.scss */
#category .btComparar {
  float: right;
  margin-top: 25px;
}
/* line 247, ../compass/sass/layout.scss */
#category form.productsSortForm {
  margin-bottom: 16px;
  padding-bottom: 16px;
}
/* line 253, ../compass/sass/layout.scss */
#category #productsSortForm {
  float: left;
}
/* line 256, ../compass/sass/layout.scss */
#category .product_view {
  float: right;
  margin-top: 25px;
}
/* line 259, ../compass/sass/layout.scss */
#category .product_view li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 16px;
  margin-left: 11px;
}

/* line 266, ../compass/sass/layout.scss */
#product_list {
  width: 73.81776%;
  float: left;
  margin-right: 2.99885%;
}
/* line 271, ../compass/sass/layout.scss */
#product_list li {
  display: block;
  width: 29.0625%;
  float: left;
  margin-left: 5.9375%;
  margin-bottom: 25px;
}
/* line 276, ../compass/sass/layout.scss */
#product_list li.item {
  margin-left: 0;
  clear: left;
}
/* line 280, ../compass/sass/layout.scss */
#product_list li .product_img_link {
  display: block;
  margin-bottom: 12px;
}
/* line 284, ../compass/sass/layout.scss */
#product_list li img {
  width: 100%;
  height: auto;
}

/* ------------------------------------------ */
/* !4 - FOOTER */
/* line 292, ../compass/sass/layout.scss */
#footer {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
/* line 296, ../compass/sass/layout.scss */
#footer #footer_links, #footer .extraLinks {
  width: 68.91667%;
  margin: 0 auto;
}
/* line 300, ../compass/sass/layout.scss */
#footer #footer_links li, #footer .extraLinks li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-left: 16px;
  margin-left: 16px;
}
/* line 304, ../compass/sass/layout.scss */
#footer #footer_links li:first-child, #footer .extraLinks li:first-child {
  margin-left: 0px;
  padding-left: 0px;
}
/* line 310, ../compass/sass/layout.scss */
#footer .extraLinks {
  margin-top: 20px;
}

/* ------------------------------------------ */
/* !5 - RIGHT */
/* line 317, ../compass/sass/layout.scss */
#right_column {
  float: left;
  width: 23.06805%;
}

/* !5.1 - Cart */
/* SASS Document */
/* !TOC COLORS */
/*-------------------------------------------
	1 - BODY
		1.1 - Home
	2 - HEADER
		2.1 - Menú Principal
		2.2 - User
		2.3 - Carret
		2.4 - Search
		2.5 - Languages
	3 - CONTENTAREA
		3.1 - breadcrumbs
		3.2 - Catalogue
	4 - FOOTER
	5 - RIGHT
		5.1 - Cart
---------------------------------------------- */
/* !COLORS */
/* !MIXINS  */
/* line 32, ../compass/sass/colors.scss */
a {
  -webkit-transition: color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in;
  -o-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

/* ------------------------------------------ */
/* !1 - BODY */
/* line 38, ../compass/sass/colors.scss */
body {
  background: url("../img/oranges/fons-paper.png") repeat 0px 0px white;
  color: #444444;
}

/* !1.1 - Home */
/* line 43, ../compass/sass/colors.scss */
body#index {
  background-image: url("../img/oranges/fons-home.jpg"), url("../img/oranges/fons-paper.png");
  -webkit-background-size: 100%, 100px 100px;
  -moz-background-size: 100%, 100px 100px;
  -o-background-size: 100%, 100px 100px;
  background-size: 100%, 100px 100px;
  background-repeat: no-repeat, repeat;
  background-position: center center, 0px 0px;
}
/* line 48, ../compass/sass/colors.scss */
body#index #header {
  background: none;
}

/* ------------------------------------------ */
/* !2 - HEADER */
/* line 55, ../compass/sass/colors.scss */
#header {
  background: url("../img/oranges/fons-header_01.png") left top no-repeat, url("../img/oranges/fons-header_03.png") right top no-repeat;
}

/* !2.1 - Menú Principal */
/* line 59, ../compass/sass/colors.scss */
nav#tmcategories {
  background-color: #978100;
}
/* line 61, ../compass/sass/colors.scss */
nav#tmcategories a {
  text-decoration: none;
  color: #ead200;
}
/* line 64, ../compass/sass/colors.scss */
nav#tmcategories a:hover {
  color: white;
}
/* line 68, ../compass/sass/colors.scss */
nav#tmcategories .current {
  position: relative;
}
/* line 70, ../compass/sass/colors.scss */
nav#tmcategories .current:before {
  content: "\003c";
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: block;
  background: url("../img/oranges/icones.png") no-repeat center -389px transparent;
  width: 27px;
  height: 11px;
  margin-left: -13px;
  text-indent: -9999em;
}
/* line 80, ../compass/sass/colors.scss */
nav#tmcategories .current a {
  color: white;
}

/* !2.2 - User */
/* line 88, ../compass/sass/colors.scss */
.headerTop #header_user li {
  border-left: 1px solid #444444;
}
/* line 90, ../compass/sass/colors.scss */
.headerTop #header_user li:first-child {
  border-left: 0px;
}
/* line 94, ../compass/sass/colors.scss */
.headerTop #header_user a {
  color: #978100;
  text-decoration: none;
}
/* line 97, ../compass/sass/colors.scss */
.headerTop #header_user a:hover {
  color: #444444;
}

/* !2.3 - Carret */
/* line 104, ../compass/sass/colors.scss */
#shopping_cart {
  background: url("../img/oranges/icones.png") no-repeat -382px top transparent;
}
/* line 106, ../compass/sass/colors.scss */
#shopping_cart a {
  color: #978100;
  text-decoration: none;
}
/* line 109, ../compass/sass/colors.scss */
#shopping_cart a:hover {
  color: #444444;
}

/* !2.4 - Search */
/* line 116, ../compass/sass/colors.scss */
#search_block_top form {
  background-color: white;
  border: 1px solid #cccccc;
}
/* line 119, ../compass/sass/colors.scss */
#search_block_top form #search_query_top {
  border: none;
  background-color: white;
  color: #444444;
}
/* line 124, ../compass/sass/colors.scss */
#search_block_top form .button {
  background: url(../img/oranges/icones.png) no-repeat left top white;
}

/* !2.5 - Languages */
/* line 130, ../compass/sass/colors.scss */
#tmlanguages {
  color: #444444;
}
/* line 132, ../compass/sass/colors.scss */
#tmlanguages li {
  opacity: 1 !important;
}
/* line 135, ../compass/sass/colors.scss */
#tmlanguages a {
  color: #978100;
}
/* line 137, ../compass/sass/colors.scss */
#tmlanguages a:hover {
  color: #e9c700;
}

/* ------------------------------------------ */
/* !3 - CONTENTAREA */
/* line 146, ../compass/sass/colors.scss */
.cms4 #page {
  background: url("../img/oranges/fons-fum_02.jpg") no-repeat left bottom transparent;
}

/* line 151, ../compass/sass/colors.scss */
.cms2 #page {
  background-image: url("../img/oranges/fons-fum_04.jpg"), url("../img/oranges/fons-fum_03.jpg");
  background-repeat: no-repeat;
  background-position: left 500px, right 250px;
  background-color: transparent;
}

/* line 159, ../compass/sass/colors.scss */
#page h1 {
  color: #978100;
}
/* line 162, ../compass/sass/colors.scss */
#page .rte {
  color: #444444;
}
/* line 167, ../compass/sass/colors.scss */
#page .rte ul {
  list-style-type: circle;
}
/* line 170, ../compass/sass/colors.scss */
#page .rte ol {
  list-style-type: decimal;
}
/* line 173, ../compass/sass/colors.scss */
#page .rte a {
  color: #978100;
}
/* line 175, ../compass/sass/colors.scss */
#page .rte a:hover {
  color: #caad00;
}

/* !3.1 - breadcrumbs */
/* line 182, ../compass/sass/colors.scss */
.breadcrumb {
  color: #444444;
}
/* line 184, ../compass/sass/colors.scss */
.breadcrumb a {
  text-decoration: none;
  color: #978100;
}
/* line 187, ../compass/sass/colors.scss */
.breadcrumb a:hover {
  color: #444444;
  text-decoration: underline;
}

/* !3.2 - Catalogue */
/* line 195, ../compass/sass/colors.scss */
#category #page {
  background-image: url("../img/oranges/fons-fum_01.jpg"), url("../img/oranges/fons-fum_08.jpg"), url("../img/oranges/fons-fum_10.jpg");
  background-repeat: no-repeat;
  background-position: left 250px, center center, left bottom;
  background-color: transparent;
}
/* line 201, ../compass/sass/colors.scss */
#category .catIntro {
  background: url("../img/oranges/barritas.jpg") no-repeat center top transparent;
}
/* line 204, ../compass/sass/colors.scss */
#category .btComparar {
  background: transparent;
  border: 0;
  cursor: pointer;
}
/* line 209, ../compass/sass/colors.scss */
#category .productsSortForm {
  border-bottom: 1px solid #c2c2c2;
}
/* line 211, ../compass/sass/colors.scss */
#category .productsSortForm label {
  color: #444444;
}
/* line 216, ../compass/sass/colors.scss */
#category .product_view li {
  opacity: .4;
  cursor: pointer;
}
/* line 219, ../compass/sass/colors.scss */
#category .product_view li.current {
  opacity: 1;
}
/* line 222, ../compass/sass/colors.scss */
#category .product_view li#product_view_grid {
  background: url("../img/oranges/icones.png") no-repeat -31px 0px transparent;
}
/* line 225, ../compass/sass/colors.scss */
#category .product_view li#product_view_list {
  background: url("../img/oranges/icones.png") no-repeat -66px 0px transparent;
}

/* line 234, ../compass/sass/colors.scss */
#product_list li .product_img_link {
  -webkit-box-shadow: 3px 3px 20px #999999;
  -moz-box-shadow: 3px 3px 20px #999999;
  box-shadow: 3px 3px 20px #999999;
  border: 1px solid #b3b3b3;
  background-color: white;
}
/* line 239, ../compass/sass/colors.scss */
#product_list li h3 {
  color: #444444;
}
/* line 241, ../compass/sass/colors.scss */
#product_list li h3 a {
  color: #444444;
  text-decoration: none;
}
/* line 244, ../compass/sass/colors.scss */
#product_list li h3 a:hover {
  color: #fdd800;
}
/* line 249, ../compass/sass/colors.scss */
#product_list li .availability {
  color: green;
}

/* ------------------------------------------ */
/* !4 - FOOTER */
/* line 259, ../compass/sass/colors.scss */
#footer #footer_links li {
  border-left: 1px solid #978100;
}
/* line 261, ../compass/sass/colors.scss */
#footer #footer_links li:first-child {
  border-left: 0;
}
/* line 265, ../compass/sass/colors.scss */
#footer #footer_links a {
  color: #978100;
  text-decoration: none;
}
/* line 268, ../compass/sass/colors.scss */
#footer #footer_links a:hover {
  color: #444444;
}
/* line 274, ../compass/sass/colors.scss */
#footer .extraLinks a {
  color: #978100;
  text-decoration: none;
}
/* line 277, ../compass/sass/colors.scss */
#footer .extraLinks a:hover {
  color: #444444;
}

/* ------------------------------------------ */
/* !5 - RIGHT */
/* !5.1 - Cart */
/* SASS Document */
/* !TOC FONTS */
/*-------------------------------------------
	1 - BODY
		1.1 - Home
	2 - HEADER
		2.1 - Menú Principal
		2.2 - User
		2.3 - Carret
		2.4 - Search
		2.5 - Languages
	3 - CONTENTAREA
		3.1 - breadcrumbs
		3.2 - Catalogue
	4 - FOOTER
	5 - RIGHT
		5.1 - Cart
---------------------------------------------- */
@font-face {
  font-family: 'quicksandbold';
  src: url("fonts/quicksand-bold-webfont.eot");
  src: url("fonts/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-bold-webfont.woff") format("woff"), url("fonts/quicksand-bold-webfont.ttf") format("truetype"), url("fonts/quicksand-bold-webfont.svg#quicksandbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandlight';
  src: url("fonts/quicksand-light-webfont.eot");
  src: url("fonts/quicksand-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-light-webfont.woff") format("woff"), url("fonts/quicksand-light-webfont.ttf") format("truetype"), url("fonts/quicksand-light-webfont.svg#quicksandlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandregular';
  src: url("fonts/quicksand-regular-webfont.eot");
  src: url("fonts/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-regular-webfont.woff") format("woff"), url("fonts/quicksand-regular-webfont.ttf") format("truetype"), url("fonts/quicksand-regular-webfont.svg#quicksandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* !VARIABLES */
/* !MIXINS */
/* ------------------------------------------ */
/* !1 - BODY */
/* line 72, ../compass/sass/fonts.scss */
html {
  font-size: 62.5%;
}

/* line 75, ../compass/sass/fonts.scss */
body {
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
}

/* !1.1 - Home */
/* ------------------------------------------ */
/* !2 - HEADER */
/* !2.1 - Menú Principal */
/* line 85, ../compass/sass/fonts.scss */
nav#tmcategories {
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.2em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}

/* !2.2 - User */
/* line 90, ../compass/sass/fonts.scss */
.headerTop #header_user {
  font-weight: normal;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.2em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}

/* !2.3 - Carret */
/* line 96, ../compass/sass/fonts.scss */
#shopping_cart strong {
  font-family: "quicksandbold", Arial, "Helvetica Neue", sans-serif;
}

/* !2.4 - Search */
/* line 102, ../compass/sass/fonts.scss */
#search_block_top input {
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.2em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-family: "quicksandbold", Arial, "Helvetica Neue", sans-serif;
}
/* line 106, ../compass/sass/fonts.scss */
#search_block_top .button {
  text-indent: -999em;
}

/* !2.5 - Languages */
/* line 111, ../compass/sass/fonts.scss */
#tmlanguages {
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.2em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-family: "quicksandbold", Arial, "Helvetica Neue", sans-serif;
}
/* line 114, ../compass/sass/fonts.scss */
#tmlanguages .selected_language {
  font-family: "quicksandbold", Arial, "Helvetica Neue", sans-serif;
}

/* ------------------------------------------ */
/* !3 - CONTENTAREA */
/* line 122, ../compass/sass/fonts.scss */
#page h1 {
  font-weight: normal;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.2em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}
/* line 125, ../compass/sass/fonts.scss */
#page .rte {
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}
/* line 127, ../compass/sass/fonts.scss */
#page .rte p, #page .rte ol, #page .rte ul {
  text-align: justify;
}
/* line 130, ../compass/sass/fonts.scss */
#page .rte p.bigImage {
  text-align: center;
}
/* line 133, ../compass/sass/fonts.scss */
#page .rte a, #page .rte strong {
  font-family: "quicksandbold", Arial, "Helvetica Neue", sans-serif;
}
/* line 136, ../compass/sass/fonts.scss */
#page .rte em {
  font-family: "quicksandlight", Arial, "Helvetica Neue", sans-serif;
}

/* !3.1 - breadcrumbs */
/* line 142, ../compass/sass/fonts.scss */
.breadcrumb {
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}
/* line 144, ../compass/sass/fonts.scss */
.breadcrumb .navigation_page {
  font-family: "quicksandbold", Arial, "Helvetica Neue", sans-serif;
}

/* !3.2 - Catalogue */
/* line 149, ../compass/sass/fonts.scss */
.cat_desc {
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}

/* line 153, ../compass/sass/fonts.scss */
.productsSortForm label {
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}

/* line 157, ../compass/sass/fonts.scss */
.btComparar {
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}

/* line 161, ../compass/sass/fonts.scss */
#product_list h3 {
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.2em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}
/* line 164, ../compass/sass/fonts.scss */
#product_list .availability {
  font-weight: normal;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.5em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

/* ------------------------------------------ */
/* !4 - FOOTER */
/* line 173, ../compass/sass/fonts.scss */
#footer #footer_links, #footer .extraLinks {
  font-weight: normal;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.2em;
  font-family: "quicksandregular", Arial, "Helvetica Neue", sans-serif;
  font-style: normal;
}

/* ------------------------------------------ */
/* !5 - RIGHT */
/* !5.1 - Cart */
/* PORQUERIA A BORRAR */
/* line 12, ../compass/sass/global.scss */
#jGrowl {
  display: none !important;
}
