/* header.tpl */
#header #header_logo_home {
    display: block;
    height: 182px;
    left: 22%;
    position: absolute;
    top: 90px;
    width: 175px;
}

p#slogan {
	display: block;
	position:absolute;
	left:16%;
	top:310px;
	font-size:24px;
	color:#978100;
}