/* SASS Document */
/* !TOC LAYOUT */
/*-------------------------------------------
	1 - BODY
		1.1 - Home
	2 - HEADER
		2.1 - Menú Principal
		2.2 - User
		2.3 - Carret
		2.4 - Search
		2.5 - Languages
	3 - CONTENTAREA
		3.1 - Breadcrumbs
		3.2 - Catalogue
		3.3 - Product
		3.4 - Authentication
	4 - FOOTER
	5 - RIGHT
		5.1 - Cart
---------------------------------------------- */
/* !VARIABLES */
/* !MIXINS */
/* line 31, ../compass/sass/layout.scss */
.clearfix, nav#tmcategories, .headerTop, .headerTop #header_user, #page .rte, #category #columns, #category .product_sort, #product_list, #authentication #center_column, #footer #footer_links, #footer .extraLinks, #cart_block .cart-prices-block {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
/* line 33, ../compass/sass/layout.scss */
.clearfix:before, nav#tmcategories:before, .headerTop:before, .headerTop #header_user:before, #page .rte:before, #category #columns:before, #category .product_sort:before, #product_list:before, #authentication #center_column:before, #footer #footer_links:before, #footer .extraLinks:before, #cart_block .cart-prices-block:before, .clearfix:after, nav#tmcategories:after, .headerTop:after, .headerTop #header_user:after, #page .rte:after, #category #columns:after, #category .product_sort:after, #product_list:after, #authentication #center_column:after, #footer #footer_links:after, #footer .extraLinks:after, #cart_block .cart-prices-block:after {
  content: "";
  display: table;
}
/* line 37, ../compass/sass/layout.scss */
.clearfix:after, nav#tmcategories:after, .headerTop:after, .headerTop #header_user:after, #page .rte:after, #category #columns:after, #category .product_sort:after, #product_list:after, #authentication #center_column:after, #footer #footer_links:after, #footer .extraLinks:after, #cart_block .cart-prices-block:after {
  clear: both;
}

/* ------------------------------------------ */
/* !1 - BODY */
/* !1.1 - Home */
/* Center vertically */
/* line 50, ../compass/sass/layout.scss */
html {
  height: 100%;
}

/* line 51, ../compass/sass/layout.scss */
body#index {
  height: 100%;
}
/* line 53, ../compass/sass/layout.scss */
body#index #header {
  height: auto;
  width: auto;
  position: static;
}
/* line 57, ../compass/sass/layout.scss */
body#index #page {
  position: relative;
  height: 100%;
}
/* line 61, ../compass/sass/layout.scss */
body#index #tmcategories {
  height: 34px;
  margin: -34px 0 0 0;
  position: absolute;
  top: 50%;
  left: 0px;
}
/* line 67, ../compass/sass/layout.scss */
body#index #footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* ------------------------------------------ */
/* !2 - HEADER */
/* line 75, ../compass/sass/layout.scss */
#header {
  height: 250px;
  width: 100%;
  position: relative;
}
/* line 78, ../compass/sass/layout.scss */
#header #header_logo {
  display: block;
  width: 175px;
  height: 182px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -87.5px;
}
/* line 85, ../compass/sass/layout.scss */
#header #header_right {
  padding-top: 10px;
}

/* !2.1 - Menú Principal */
/* line 90, ../compass/sass/layout.scss */
nav#tmcategories {
  text-align: center;
  clear: both;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}
/* line 97, ../compass/sass/layout.scss */
nav#tmcategories ul#cat {
  width: 69.16667%;
  padding: 6px 0 9px 0;
  margin: 0 auto;
  text-align: center;
}
/* line 103, ../compass/sass/layout.scss */
nav#tmcategories li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 3%;
}
/* line 106, ../compass/sass/layout.scss */
nav#tmcategories li:first-child {
  margin-left: 0px;
}

/* !2.2 - User */
/* line 112, ../compass/sass/layout.scss */
.headerTop {
  width: 69.16667%;
  margin: 0px auto;
}
/* line 116, ../compass/sass/layout.scss */
.headerTop #header_user {
  float: right;
}
/* line 119, ../compass/sass/layout.scss */
.headerTop #header_user li {
  float: left;
  margin-left: 5px;
  padding-left: 5px;
}
/* line 123, ../compass/sass/layout.scss */
.headerTop #header_user li:first-child {
  margin-left: 0;
  padding-left: 0;
}

/* !2.3 - Carret */
/* line 130, ../compass/sass/layout.scss */
#shopping_cart {
  float: right;
  clear: both;
  margin-top: 5px;
  padding: 3px 0px 5px 25px;
}

/* !2.4 - Search */
/* line 137, ../compass/sass/layout.scss */
#search_block_top {
  width: 69.16667%;
  margin: 10px auto 0 auto;
}
/* line 140, ../compass/sass/layout.scss */
#search_block_top form {
  float: right;
  padding: 2px 1px 2px 3px;
}
/* line 144, ../compass/sass/layout.scss */
#search_block_top input {
  width: 160px;
}
/* line 147, ../compass/sass/layout.scss */
#search_block_top .button {
  width: 16px;
  height: 16px;
  display: block;
  float: right;
}

/* !2.5 - Languages */
/* line 155, ../compass/sass/layout.scss */
#tmlanguages {
  width: 69.16667%;
  margin: 0 auto;
}
/* line 158, ../compass/sass/layout.scss */
#tmlanguages #first-languages {
  float: left;
}
/* line 160, ../compass/sass/layout.scss */
#tmlanguages #first-languages li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* ------------------------------------------ */
/* !3 - CONTENTAREA */
/* line 168, ../compass/sass/layout.scss */
#columns {
  width: 64%;
  margin: 0 auto 75px auto;
}

/* line 172, ../compass/sass/layout.scss */
#page {
  width: 100%;
}
/* line 174, ../compass/sass/layout.scss */
#page h1 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 178, ../compass/sass/layout.scss */
#page h2 {
  margin-bottom: 20px;
  text-align: left;
}
/* line 184, ../compass/sass/layout.scss */
#page .rte ul, #page .rte ol {
  margin-left: 2em;
  padding-left: 2em;
  margin-bottom: .5em;
}
/* line 189, ../compass/sass/layout.scss */
#page .rte li {
  margin-bottom: .25em;
}
/* line 192, ../compass/sass/layout.scss */
#page .rte h5, #page .rte h6 {
  margin-bottom: 1em;
  margin-top: 2em;
}
/* line 196, ../compass/sass/layout.scss */
#page .rte p {
  margin-bottom: .5em;
}
/* line 199, ../compass/sass/layout.scss */
#page .rte p.bigImage img {
  width: 100%;
  height: auto;
  max-width: 899px;
}
/* line 207, ../compass/sass/layout.scss */
#page .rte .columnaEsq, #page .rte .columnaDreta {
  width: 48.30729%;
  margin-right: 3.25521%;
  float: left;
}
/* line 212, ../compass/sass/layout.scss */
#page .rte .columnaDreta {
  margin-right: 0;
}
/* line 217, ../compass/sass/layout.scss */
#page .intro {
  width: 80.36145%;
  margin: 0 auto;
}
/* line 221, ../compass/sass/layout.scss */
#page .hb1, #page hb2 {
  width: 44.93976%;
  float: left;
}
/* line 225, ../compass/sass/layout.scss */
#page .hb1 {
  margin-right: 6.0241%;
}
/* line 228, ../compass/sass/layout.scss */
#page .col3 {
  float: left;
  width: 29.51807%;
  margin-left: 4.21687%;
  word-wrap: break-word;
}
/* line 233, ../compass/sass/layout.scss */
#page .col3.primer {
  margin-left: 0;
}

/* line 240, ../compass/sass/layout.scss */
.cms9 #page .rte h1 {
  padding-top: 70px;
}
/* line 243, ../compass/sass/layout.scss */
.cms9 #page .rte .columnaEsq, .cms9 #page .rte .columnaDreta {
  width: 45%;
  margin-right: 10%;
}
/* line 247, ../compass/sass/layout.scss */
.cms9 #page .rte .columnaDreta {
  margin-right: 0 !important;
}

/* !3.1 - breadcrumbs */
/* line 254, ../compass/sass/layout.scss */
.breadcrumb {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
/* line 257, ../compass/sass/layout.scss */
.breadcrumb p {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9999;
}

/* !3.2 - Catalogue */
/* line 265, ../compass/sass/layout.scss */
#category #columns {
  width: 72.25%;
}
/* line 269, ../compass/sass/layout.scss */
#category .catIntro {
  padding-top: 340px;
  margin-bottom: 20px;
}
/* line 274, ../compass/sass/layout.scss */
#category .productsSortForm label {
  display: block;
}
/* line 278, ../compass/sass/layout.scss */
#category .cat_desc {
  text-align: center;
}
/* line 281, ../compass/sass/layout.scss */
#category .btComparar {
  float: right;
  margin-top: 25px;
}
/* line 285, ../compass/sass/layout.scss */
#category form.productsSortForm {
  margin-bottom: 16px;
  padding-bottom: 16px;
}
/* line 291, ../compass/sass/layout.scss */
#category #productsSortForm {
  float: left;
}
/* line 294, ../compass/sass/layout.scss */
#category .product_view {
  float: right;
  margin-top: 25px;
}
/* line 297, ../compass/sass/layout.scss */
#category .product_view li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 16px;
  margin-left: 11px;
}

/* line 304, ../compass/sass/layout.scss */
#product_list {
  width: 73.81776%;
  float: left;
  margin-right: 2.99885%;
}
/* line 309, ../compass/sass/layout.scss */
#product_list li {
  display: block;
  width: 29.0625%;
  float: left;
  margin-left: 5.9375%;
  margin-bottom: 25px;
}
/* line 314, ../compass/sass/layout.scss */
#product_list li.item {
  margin-left: 0;
  clear: left;
}
/* line 318, ../compass/sass/layout.scss */
#product_list li .product_img_link {
  display: block;
  margin-bottom: 12px;
}
/* line 322, ../compass/sass/layout.scss */
#product_list li img {
  width: 100%;
  height: auto;
}
/* line 325, ../compass/sass/layout.scss */
#product_list li .availability {
  float: left;
  display: block;
}
/* line 329, ../compass/sass/layout.scss */
#product_list li .compare {
  float: right;
  display: block;
}
/* line 333, ../compass/sass/layout.scss */
#product_list li .price {
  display: block;
  float: right;
}
/* line 337, ../compass/sass/layout.scss */
#product_list li .ajax_add_to_cart_button {
  display: block;
  text-align: center;
  padding: 3px;
}

/* !3.3 - Product */
/* line 346, ../compass/sass/layout.scss */
#product #primary_block {
  padding-top: 340px;
}

/* !3.4 - Authentication */
/* line 352, ../compass/sass/layout.scss */
#authentication h1 {
  padding-top: 30px;
  float: right;
  width: 410px;
  text-align: left;
}
/* line 358, ../compass/sass/layout.scss */
#authentication #center_column {
  min-height: 628px;
}
/* line 362, ../compass/sass/layout.scss */
#authentication #login_form, #authentication #account-creation_form {
  padding: 25px;
  width: 360px;
  float: right;
  clear: both;
}
/* line 367, ../compass/sass/layout.scss */
#authentication #login_form h3, #authentication #account-creation_form h3 {
  margin-bottom: .5em;
  margin-top: 1em;
}
/* line 370, ../compass/sass/layout.scss */
#authentication #login_form label, #authentication #account-creation_form label {
  display: block;
  float: left;
  width: 145px;
  clear: left;
  margin-bottom: 15px;
}
/* line 377, ../compass/sass/layout.scss */
#authentication #login_form input, #authentication #account-creation_form input {
  display: block;
  width: 210px;
  margin-bottom: 15px;
  padding: 3px;
}
/* line 383, ../compass/sass/layout.scss */
#authentication #login_form input#SubmitLogin, #authentication #account-creation_form input#SubmitLogin {
  float: right;
  width: auto;
  margin-top: 10px;
}
/* line 389, ../compass/sass/layout.scss */
#authentication #login_form .gender input, #authentication #login_form .gender label, #authentication #account-creation_form .gender input, #authentication #account-creation_form .gender label {
  display: inline;
  width: auto;
  float: none;
}
/* line 395, ../compass/sass/layout.scss */
#authentication #login_form input#passwd, #authentication #account-creation_form input#passwd {
  margin-bottom: 0;
}
/* line 398, ../compass/sass/layout.scss */
#authentication #login_form .form_info, #authentication #account-creation_form .form_info {
  margin-bottom: 1em;
  display: block;
  text-align: right;
}
/* line 403, ../compass/sass/layout.scss */
#authentication #login_form .select span, #authentication #account-creation_form .select span {
  display: block;
}
/* line 406, ../compass/sass/layout.scss */
#authentication #login_form select, #authentication #account-creation_form select {
  width: 200px;
  margin-bottom: 1em;
}
/* line 410, ../compass/sass/layout.scss */
#authentication #login_form .birthDate select, #authentication #account-creation_form .birthDate select {
  width: auto;
}
/* line 413, ../compass/sass/layout.scss */
#authentication #login_form #submitAccount, #authentication #account-creation_form #submitAccount {
  margin-left: 200px;
}
/* line 417, ../compass/sass/layout.scss */
#authentication .lost_password {
  text-align: right;
}
/* line 420, ../compass/sass/layout.scss */
#authentication #create-account_form {
  width: 410px;
  float: right;
  clear: right;
  padding-top: 30px;
}
/* line 425, ../compass/sass/layout.scss */
#authentication #create-account_form .submit {
  text-align: center;
  clear: right;
}
/* line 430, ../compass/sass/layout.scss */
#authentication #create-account_form .gender .input {
  display: inline;
}

/* ------------------------------------------ */
/* !4 - FOOTER */
/* line 439, ../compass/sass/layout.scss */
#footer {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
/* line 443, ../compass/sass/layout.scss */
#footer #footer_links, #footer .extraLinks {
  width: 69.16667%;
  margin: 0 auto;
}
/* line 447, ../compass/sass/layout.scss */
#footer #footer_links li, #footer .extraLinks li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-left: 16px;
  margin-left: 16px;
}
/* line 451, ../compass/sass/layout.scss */
#footer #footer_links li:first-child, #footer .extraLinks li:first-child {
  margin-left: 0px;
  padding-left: 0px;
}
/* line 457, ../compass/sass/layout.scss */
#footer .extraLinks {
  margin-top: 20px;
}

/* ------------------------------------------ */
/* !5 - RIGHT */
/* line 464, ../compass/sass/layout.scss */
#right_column {
  float: left;
  width: 23.06805%;
}

/* !5.1 - Cart */
/* line 469, ../compass/sass/layout.scss */
#cart_block {
  width: 75%;
  float: right;
  padding: 20px 10% 15px 10%;
}
/* line 473, ../compass/sass/layout.scss */
#cart_block h4, #cart_block #cart_block_summary {
  text-align: center;
}
/* line 476, ../compass/sass/layout.scss */
#cart_block h4 {
  padding-bottom: 6px;
}
/* line 479, ../compass/sass/layout.scss */
#cart_block .cart_block_list {
  text-align: left;
}
/* line 482, ../compass/sass/layout.scss */
#cart_block #cart-buttons {
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
}
/* line 488, ../compass/sass/layout.scss */
#cart_block .cart-prices-block span {
  float: left;
  display: block;
}
/* line 491, ../compass/sass/layout.scss */
#cart_block .cart-prices-block span.price {
  float: right;
}
