
/* product.tpl */
#primary_block #pb-right-column {
	float: left;
	width: 11em;
}

#primary_block #image-block {
	/* border: #d0d1d5 solid 1px; */
	height: 438px;
	width: 438px;
	background: url(../img/oranges/fons_paper_gris.png) repeat left top #DDDDDD;
	padding: 6px;
	margin: 0 auto;
	/* margin: 0 33rem 0; */
}
#primary_block #image-block img#bigpic { 
	cursor: pointer; 
	height: 438px;
	width: auto;
	background-color: #FAFAFA;
}
#primary_block ul#usefull_link_block { list-style-type: none; margin-top: 1em; width: 300px; }
#primary_block ul#usefull_link_block li { margin: 0.5em 1em 0.5em 0; display: block; line-height: 15px; }
#primary_block ul#usefull_link_block li a,
#primary_block ul#usefull_link_block span.span_link,
#primary_block ul#usefull_link_block span.span_link:hover {
	text-decoration: none;
	color: #76839b;
	font-size: 0.9em;
	background: white url('../img/bullet_alt.jpg') no-repeat top left;
	padding-left: 17px;
	height: 15px;
	display: block;
}

#primary_block #pb-left-column {
	float: right;
	margin-left: 1.1em;
	width: 233px
}
#primary_block #short_description_block {
	background: #e5e6e7 url('../img/product-short-desc-bg.gif') repeat-x top left;
	border: 1px #d0d3d8 solid;
	padding: 0.7em;
	margin-bottom: 1.5em
}
#primary_block #color_picker p {
	margin-bottom: 0.4em;
	padding: 0
}
#primary_block #color_picker {
	padding: 0.6em 0.7em 0.4em 0.7em;
	background: #e5e6e7 url('../img/product-short-desc-bg.gif') repeat-x top left;
	border: 1px #d0d3d8 solid;
	margin-bottom: 1.5em
}
#primary_block #color_to_pick_list li {
	display: inline;
	float: left;
	margin: 0 0.4em 0.4em 0
}
#primary_block a.color_pick {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #666;
	cursor: pointer
}
#primary_block a.color_pick:hover { border: 1px solid #000 }
#primary_block a#color_all { cursor: pointer }
#primary_block #image-block img#bigpic.jqzoom {
	cursor: crosshair;
	position: relative
}
#primary_block p.buttons_bottom_block { margin: 0 }
#primary_block p.buttons_bottom_block a,
#primary_block p.buttons_bottom_block input { margin: 0.9em auto 0 auto }
#primary_block #short_description_content { margin-bottom: 0.5em }
#primary_block #buy_block {
	background: #f1f2f4 url('../img/product-buy-bg.gif') repeat-x top left;
	font-size: 1.1em;
	padding: 0.7em;
	color: #374853;
	border: 1px #d0d3d8 solid;
	margin-bottom: 1.5em
}
#primary_block #buy_block p {
	padding: 0;
	margin-top: 0;
	clear: both
}
#primary_block #buy_block img.on_sale_img { float: left }
#primary_block #buy_block span.on_sale {
	color: #da0f00;
	text-transform: uppercase;
	font-weight: bold;
	float: right
}
#primary_block #buy_block span.discount {
	color: #da0f00;
	text-transform: uppercase;
	font-weight: bold;
	float: right
}
#primary_block #buy_block span.our_price_display { float: right }
#primary_block #buy_block span#availability_label {
	float: left;
	margin-right: 1em
}
#primary_block #buy_block label { text-align: right }
#primary_block #buy_block label,#primary_block #buy_block select {
	display: block;
	width: 47%;
	float: left
}
#primary_block div#attributes p, #quantity_wanted_p {
	clear: left;
	height: 2em; margin-top: 4rem;
}
p#quantity_wanted_p input#quantity_wanted { font-family: inherit; width: 30px; height: 20px; text-align: right; font-size: inherit; }

#primary_block div#attributes p, #minimal_quantity_wanted_p {
	clear: left;
	text-align: center
}

/* prices */
#primary_block #buy_block p.price {
	font-size: 1.05em;
	text-align: right
}
#primary_block #buy_block span#pretaxe_price {
	font-size: 0.75em;
	text-align: right
}
#primary_block #buy_block p#old_price {
	font-size: 0.8em;
	text-align: right;
	text-decoration: line-through
}
#primary_block #buy_block p#reduction_percent {
	color: #da0f00;
	font-size: 0.75em;
	text-align: right
}
#primary_block #buy_block p.price-ecotax {
	font-size: 0.75em;
	text-align: right
}
#admin-action {
    color: #374853; 
    background-color: #DFFAD3; 
    margin-bottom:10px; 
    padding: 4px; 
    border: 1px solid #72CB67
}
#admin-action input.exclusive
{
	float: right
}

.product_accessories_price
{
	margin-top: 5px
}

#thumbs_list { width: 100%; }
ul#thumbs_list_frame { width: 500px !important; margin-top: 1rem; }
ul#thumbs_list_frame li { display: inline-block; padding: 0 5px; }
#views_block { margin: 1em auto 2em auto; width: 450px; }

/* Carrito */
#product #page{
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/oranges/fons-fum_01.jpg"), url("../img/oranges/fons-fum_10.jpg");
    background-position: left 250px, left bottom;
    background-repeat: no-repeat;
    background-size: auto auto, auto auto;
}
/* #product #right_column { float: right; position:relative; bottom: 88rem; left: 0; } */

a.cart_block_product_name { text-decoration: none; }
#cart_block a.cart_block_product_name:hover { color: #fff; }
#more_info_block { background: url(../img/oranges/fons_paper_gris.png) repeat left top #DDDDDD; width: 90%; margin: 0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 30px;/* margin: 0 35rem 0 25rem; */ }
#product h1 { text-align: left; margin-bottom: 1rem; }
#product #short_description_block { padding: 20px 0px; border-bottom: 1px solid #D0D1D5; width: 100%;  }
#product form#buy_block, #product #short_description_block #more_info_sheets{/*  width: 50%; */ }
#product form#buy_block { float: right; width: 45%; text-align: center; font-size: 1.5rem; line-height: 3rem }
#product #short_description_content { text-align:center; font-size: 1.5rem; line-height: 2.5rem; padding: 2rem; margin:0; }
#product #short_description_content p { text-align: center; }
#product #short_description_block #more_info_sheets .rte:before, #product #short_description_block #more_info_sheets .rte:after { display: inline; }
#product div#more_info_sheets p { text-align: left; }
#product .price span#our_price_display { font-size: 3rem; color: #978100; line-height: 36px; }
#product .buttons_bottom_block { }
#product div#add_cart {	/*#product .buttons_bottom_block input.exclusive, #product .buttons_bottom_block input.exclusive_disabled, */
	background: url("../img/oranges/icones.png") no-repeat scroll center top rgba(0, 0, 0, 0);
	margin-top: 30px;
	margin: 30px auto 0 auto;
	padding: 10px;
	width: 172px;
}
#product p#add_to_cart input, #product p#add_to_cart input.exclusive_disabled { 
	background: #978100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;  
	color: #EAD200; 
	display: block;
    height: 80px;
	width: 180px;
	font-family: inherit;
	font-size: 1.5rem;
	border:none;
	cursor: pointer;
}
#product p#add_to_cart input:hover { color: #fff; }
/* #product #footer { margin-top: 35rem; } */
#product div.recomendado { position: absolute; margin: 180px 0 0 65px; font-size: 2rem; }
div#attributes, p#product_reference { display:none !important; }
.fitxaProducte {
	float: left;
	width: 78%;
}
#product #short_description_block .descripcioProducte {
	float: left;
	width: 50%;
}