.cferror{

border:1px solid #EC9B9B;

padding:5px;

margin:5px;

background:#FAE2E3;

color:#F36;

line-height:2em;

}


form.formular {

	font-family: inherit;

	font-size: 1.5rem;

	padding: 20px 0 0 60px;

	width: 300px;

	margin: 0 auto 30px;
	background:#DDDDDD;

}

.separator{

font-size:14px;

font-weight:bold;

color:#666666;

margin-bottom:20px;

border-bottom:solid 0px #b7ddf2;

padding-top:5px;

padding-bottom:10px;

}

.formular fieldset {

	margin-top: 20px;

	padding: 15px;

	border:solid 1px #878787;

}

.formular legend {

	font-size: 12px;

	color: #15428B;

	font-weight: 900;

}

.formular fieldset label {

	float: none;

	text-align: inherit;

	width: auto;

}

.formular label span {

	color: #000;

}

.formular  span {

	color: #000;

}

.formular input,.formular select,.formular textarea {

	display: block;

	margin-bottom: 5px;

}

.formular .text-input {

	color: #555;

	padding: 4px;

	border:solid 1px #878787;

	font-size: 14px;

	margin-top: 4px;

	background: #FFF repeat-x;
	width: 300px;
	font-family: inherit;
}

.formular .text-select {

	color: #555;

	padding: 4px;

	border:solid 1px #878787;

	font-size: 14px;

	margin-top: 4px;

	background: #FFF repeat-x;

}





.formular textarea {

	width: 3000px;

	height: 70px;

	color: #555;

	padding: 4px;

	border:solid 1px #878787;

	font-size: 14px;

	margin-top: 4px;

	background: #FFF repeat-x;
	max-width: 300px;
	max-height: 300px;
	font-family: inherit;
}



.formular .infos {

	background: #FFF;

	color: #333;

	font-size: 12px;

	padding: 10px;

	margin-bottom: 10px;

}



.formular span.checkbox,.formular .checkbox {

	display: inline;

	margin-right:5px;

}



.formular .submit {
	border: medium none;
    color: #444444;
    cursor: pointer;
    float: left;
    font-size: 1.5rem;
    margin: 20px 0 15px 242px;
    text-decoration: none;
}



.formular .submit:hover { color: #978100; /*background:#EBF4FB url(img/bhover.png) no-repeat;*/}

.formular hr {

	clear: both;

	visibility: hidden;

}

.formular .fc-error {

	width: 350px;

	color: 555;

	padding: 4px;

	border: 1px solid #B5B8C8;

	font-size: 12px;

	margin-bottom: 15px;

	background: #FFEAEA;

}

.contactForm #page {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../../../themes/tarongers/img/oranges/fons-fum_05.jpg), url("../../../../../themes/tarongers/img/oranges/fons-fum_11.jpg");
    background-position: left 250px, 1169px bottom;
    background-repeat: no-repeat;
    background-size: auto auto, auto auto;
}
.contactForm .breadcrumb { display: none !important; }
div.contacto { margin-bottom: 3%; }
div.contacto h1 { margin-bottom: 10px !important; margin-top: 50px; }
div.contacto p#intro, div#profesionales p { font-size: 2rem; }
div.contacto p, div#profesionales p { text-align: center !important; }
div.contacto img { margin-top: -30px; }

div#profesionales { margin-top: 50px; margin-bottom: 30px; margin-left: 36%; width: 27%; }